html{
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 100px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: left;
    color: rgb(150, 95, 212);
    text-shadow: 3px 1px rgb(139, 212, 80);
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

li {
    margin: 30px;
    padding-left: 100px;
    text-align: left;
    list-style-position: inside;
}

img {
    height: 800px;
    max-width: 100%;
}

figcaption {
    unicode-bidi: isolate;
    font-size: 15px;
}

div {
    width: 1400px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin: 50px;
    position: relative;
}

#gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(150, 95, 212);
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: rgb(139, 212, 80);
    font-size: 22px;
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    pointer-events: none;
    transition: all .4s;
}

#gotopbtn:hover {
    background: white;
    color: black;
}

